<a href="https://colab.research.google.com/github/Charusharma19/Python/blob/main/menuhw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:

print("BIO-DATA")
name="charu"
age=20
mobile=897456107
Email="charu2@gmail.com"
dob="11july2025"
education="Bachelor of engineering"
marital_status="Single"
Address="Sangrur"
print("Name : ",name)
print("Age : ",age)
print("Mobile No : ",mobile)
print("Dob : ",dob)
print("Education: ",education)
print("Marital Status: ",marital_status)

BIO-DATA
Name :  charu
Age :  20
Mobile No :  897456107
Dob :  11july2025
Education:  Bachelor of engineering
Marital Status:  Single

In [13]:
print("MENU")
item1="Roti"
price_of_item1=7
item2="Dal"
price_of_item2=150
item3="Pizza"
price_of_item3=450
item4="Noddles"
price_of_item4=100
total_bill=("Total :", price_of_item1+price_of_item2+price_of_item3+price_of_item4)
print("item1:",price_of_item1)
print("item2:",price_of_item2)
print("item3:",price_of_item3)
print("item4:",price_of_item4)
print(total_bill)

MENU
item1: 7
item2: 150
item3: 450
item4: 100
('Total :', 707)